#mainbox{
    width: 100%;
    height: 100%;
    min-height: 10vh;
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px #2e2e2e;
}
#topeventlistbox-nav{
    width: 1100px;
    height: 240px;
    background-color: aqua;
}
#eventlistbox{
    width: 1200px;
    overflow-y: scroll;
    height: 700px;
}