#fullsizecalendar{
        background: #f0f0f0;
        width: 100%;
        height: 760px;
        border-style: solid;
        border-color: black;
        border-width: 4px;
    }

#calendarbase{
   
        background: #f0f0f0;
        /* width: 103%; */
        width: 1290px;
        height: 759px;
        border-style: solid;
        border-color: black;
        border-width: 4px;
        /* padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 15px; */
        color: black;
        text-overflow: clip;
    
}
#spacer-calendar{
        width: auto;
        height: 100%;

        display: flex;
        flex-direction: row;
}
#calendartemp{
        /* width: 1250px; */
        width: 100%;
        height: 700px;
}
.temporary{
        width: 100%;
        height: 730px;


}
#tempcalendar{
        /* width: 1020px; */
        width: 100%;
}
#calender-navigation{
        width: 370px;
        height: 100%;
        background-color: aliceblue;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
}
.section-sidenav{
width: 100%;
height: 100%;
border-color: black;
border-style: solid;
border-width: 2px;
}
#tsdfsdfsdfsdf{
        color: red;

}